[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
pandas = "*"
transformers = "*"
faiss-cpu = "*"
langchainhub = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "*"
